<% if requisicao.file.attached? %>
  <div class="row">
    <% if requisicao.file.image? %>
      <div class="message-image-container">
        <%= image_tag(requisicao.file, class:"message-image") %>
      </div>
    <% end %>
  </div>

<% end %>