<h1>Editing requisicao</h1>

<%= render "form", requisicao: @requisicao %>

<br>

<div>
  <%= link_to "Show this requisicao", @requisicao %> |
  <%= link_to "Back to requisicaos", requisicaos_path %>
</div>
