<div id="<%= dom_id atividade %>">
  <p>
    <strong>Nome:</strong>
    <%= atividade.nome %>
  </p>

  <p>
    <strong>Cargahorariamaxima:</strong>
    <%= atividade.cargaHorariaMaxima %>
  </p>

</div>
