<div id="<%= dom_id requi %>">
  <p>
    <strong>Titulo:</strong>
    <%= requi.titulo %>
  </p>

  <p>
    <strong>User:</strong>
    <%= requi.user_id %>
  </p>

  <%= render 'requis/attachement', requi: requi %>

</div>
