<h1>New requi</h1>

<%= render "form", requi: @requi %>

<br>

<% if admin_signed_in? %>
  <div>
    <%= link_to "Back to requis", requis_path %>
  </div>
<% elsif user_signed_in? %>
  <div>
  <%= link_to "Back to User Profile", user_profile_path %>
 </div>
<% end %>